/* Styles personnalisés pour votre projet */
/* Bootstrap est déjà importé dans main.js */

.container {
  border: 1px solid black;
}

.container_fluid {
  border: 1px solid red;
}

.articles,
.info_continu {
  border: 2px dashed green;
}
